/*Travel diaries_RESUME*/

html{
	background-image: url('../images/airplane.jpg');	
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-size: cover;
}

header {
}

header nav ul{
	text-align:right;
	margin-right: 20px;
    list-style-type: none;
}

header nav ul li{
  display: inline-block;
  line-height: 20px;
  margin: 0 5px;
}

header nav ul li a{
	text-transform: uppercase;
  	font-size: 25px;
	font-family: dayrom;
	padding-right: 30px;
}

.checkButton {
	font-size: 30px;
	color:white;
	float:right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display:none;
}

#check{
	display:none;
}


@media only screen and (max-width: 1042px){
	
	header nav ul li a{
	text-transform: uppercase;
  	font-size: 20px;
	font-family: dayrom;
	padding-right: 30px;
	}
	
	#first_half_ID{
		display:block;
		text-align:center;
		padding: 1% 2%;
		margin:5%; 
	}	
	
	#second_half_ID{
	display:block;
	padding:5px 20px;
	color: white;
	text-align:center;
	width: auto%;
	margin: 1%;
	}
}

@media only screen and (min-width: 1043px){
	#first_half_ID{
		display:inline-block;
		text-align:center;
		padding: 1% 2%;
		margin:5% 0 0 5%; 
		vertical-align:top;
	}	
	
	#second_half_ID{
	display:inline-block;
	padding:5px 20px;
	color: white;
	width: 50%;
	margin: 10% 2% 0 3%;
	}
}


@media (max-width:540px){
	.checkButton {
	display: block;
	}
	
	ul {
	position: fixed;
	width:90%;
	height:55%;
	background: rgba(0, 0, 0, 0.76);
	top:80px;
	left: -100%;
	/* text-align: center; */
	transition: all .2s;
	}
	
	header nav ul li{
	display: block;
	margin: 50px 0;
	text-align: center;
	/* line-height: 30px; */
	}
	
	header nav ul li a{
  	font-size: 25px;
	padding-left: 0;
	}
	
	#check:checked ~ ul{
		left:0;
	}
}


header nav ul li a:link {
  text-decoration: none;
  color: white;
}

header nav ul li a:visited {
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a:active {
  text-decoration: underline;
}

/* =====================body====================*/

body{
	display:block;
	padding: 5% 0%;
	margin: 3% 2%;
	background-color: rgba(0, 0, 0, 0.76);

}



#profile_img_ID {
  height: 300px;
}

#name_ID {
  font-family: Garamond;
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin: 0;
}

#occupation_ID {
  font-family: helvetica;
  font-size: 20px;
  color: #CCCC00;
  margin:0;
}



#career_ID{
  font-family: helvetica;
  font-size: 2em;
  margin: 0;
}

#second_half_ID h3{
  font-family: Times new roman;
  font-size: 3em;
  margin: 0;
}

#second_half_ID p{
	text-align: justify;
	font-size: 14pt;
}

